<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="emperatriz.hatomico2"
    android:versionCode="29"
    android:versionName="2.51" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="20" >
    </uses-sdk>

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
     <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" >
    </uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" >
    </uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="Hatomico"
        android:logo="@drawable/iconab"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        <activity
            android:name=".Main"
            android:excludeFromRecents="true"
            android:label="@string/appName"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SwitchOn"
            android:excludeFromRecents="true"
            android:label="@string/appName"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Options"
            android:fontFamily="sans-serif-condensed"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait" 
            android:label="@string/appName" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".About"
            android:configChanges="keyboardHidden|orientation"
            android:excludeFromRecents="true"
            android:label="@string/appName"
            android:theme="@android:style/Theme.Holo.NoActionBar.TranslucentDecor"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ContactList"
            android:excludeFromRecents="true"
            android:label="@string/contactList" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>

        <service android:name="Service" >
        </service>
          <service
            android:name="NotificationService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service android:name="emperatriz.hatomico2.AutoAnswerIntentService" />

        <receiver android:name="emperatriz.hatomico2.SMSListener" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
            </intent-filter>
        </receiver>

         <activity
            android:name="emperatriz.hatomico2.ReadingSMS"
            android:excludeFromRecents="true"
            
            android:theme="@android:style/Theme.Holo.NoActionBar.TranslucentDecor"
            android:screenOrientation="portrait" 
            android:label="@string/appName" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity> 
    </application>

</manifest>